@import url('https://fonts.googleapis.com/css?family=Rubik');
html, body{
  background-color: #e0e0e0;
  font-family: Rubik;
}

.container{
  display:flex;
  padding: 10px;
  text-align: center;
  justify-content: center;
}
