@import url('https://fonts.googleapis.com/css?family=Rubik');
html, body{
  background-color: #DFF3FF;
  font-family: Rubik;
}

.container {
  display:flex;
  text-align: center;
  justify-content: center;
  width: 100%
  height: 75px;
  box-sizing: border-box;
  background-color: #0074BF;
  box-shadow: 6px 6px 20px -2px rgba(0, 0, 0, 0.45);
}

.container > div {
  font-size: 1.25em;
  padding: 10px;
}

.container > div > a:link, a:visited {
  color: #001320;
  text-decoration: none;
}

.container > div > a:hover {
  color: #009bff;
  text-decoration: underline;
}

.container > div > a:active {
  color: #009bff;
  text-decoration: underline;
}
