@import url('https://fonts.googleapis.com/css?family=Rubik');
html, body{
  background-color: #e0e0e0;
  font-family: Rubik;
  margin: 10px;
}

.container {
  display:flex;
  text-align: center;
  justify-content: center;
}

.container > div {
  padding: 10px;
  font-size: 2em;
  text-align: center;
}
